<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>362123562695-935batea6ovt3n4i07rml6okl0lboovj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362123562695-935batea6ovt3n4i07rml6okl0lboovj</string>
	<key>API_KEY</key>
	<string>AIzaSyBjztiZlid084bbdlVhOUFPf2t8J2sNXUw</string>
	<key>GCM_SENDER_ID</key>
	<string>362123562695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Timofey-Makhlay.REC---Real-Estate-Calculator</string>
	<key>PROJECT_ID</key>
	<string>rec-613aa</string>
	<key>STORAGE_BUCKET</key>
	<string>rec-613aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362123562695:ios:74ec366a51fa24c4</string>
	<key>DATABASE_URL</key>
	<string>https://rec-613aa.firebaseio.com</string>
</dict>
</plist>